#myForm{
    font-family: Arial, Helvetica, sans-serif;
}

.form_input{
    height: 28px;
    font-size: 14px;
}

.quantity_input{
    width: 50px;
    
}

::placeholder{
    font-style: italic;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #4b99ad;
    color: white;
}

.next {
    background-color: #4b99ad;
    color: white;
}

.send {
    background-color: #4b99ad;
    color: white;
}

.round {
    border-radius: 50%;
}
